name: Lint Sherlock
on:
  pull_request:
    branches:
      - main

jobs:
  golangci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory:
          - "sherlock"
          - "go-shared"
          - "sherlock-webhook-proxy"
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.directory }}/go.mod

      # The linter is extraordinarily susceptible to failures where the fix is merely running `go mod tidy` --
      # it's more sensitive than Sherlock's literal build or test processes, or the webhook proxy deployment.
      # We have checks for those other things (the webhook proxy even commits a tidy back to mainline), so we
      # tidy here because we want the linter to shut up about it. That's better than this just failing on
      # random dependabot PRs that are actually safe to merge.
      - name: Go mod tidy
        run: go mod tidy
        working-directory: ${{ matrix.directory }}

      # If this fails saying "no go files to analyze", that error is lying
      # Make sure your branch is updated and run `go mod tidy` in every directory with a go.mod in it
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest

          # Optional: golangci-lint command line arguments.
          args: --timeout 4m0s

          # Optional: working directory, useful for monorepos
          working-directory: ${{ matrix.directory }}

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the all caching functionality will be complete disabled,
          #           takes precedence over all other caching options.
          skip-cache: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          # skip-pkg-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true

          # Optional:The mode to install golangci-lint. It can be 'binary' or 'goinstall'.
          # install-mode: "goinstall"
